#fiveday {
justify-content: flex-end;
padding-left: 50px;
border: 5px, solid;

}

#current{
    justify-content: center
}

#currentContainer{
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

#fiveday{
    justify-content: space-between;
    padding-top: 100px
}

#Recent{
    display: flex;
    flex-direction: column;
}

#navHeader{
    padding-left: 200px;
    padding-bottom: 25px;
}

header.h1{
    padding-top: 20px;
}


#searchbar{
    padding-left: 60px;   
}